body {
    background-image: url('images/StaryNight3.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(190, 239, 239);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button>img {
    height: 35px;
    transition: 1s ease-in-out;

}

button>img:hover {
    background-color: transparent;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-right: 15vw;
    margin-top: 88vh;
    gap: 20px;
    /* Adjust the margin-top as needed */
}



form {
    display: flex;
    border-radius: 10px;
    gap: 5px;
}

#wish-label {
    color: #a6bfc2;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    width: 200px;
    /* Set a fixed width for the label */
    text-align: center;
    /* Center the text inside the label */
    display: inline-block;
    /* Allow the label to have a specific width while staying inline */
}



input {
    background-color: transparent;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(166, 191, 194, 0.2);
    flex: 1;
    padding-left: 10px;
    color: #a6bfc2;
    transition: 2s ease-in-out;
    font-size: large;
}

input:hover {
    box-shadow: 0 0 90px 5px #fff;
}

input::placeholder {
    color: #a6bfc2;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


button {
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
    /* Adjust the duration as needed */
    color: rgb(190, 239, 239);
    border: none;
    transition: 2s ease-in-out;
    margin-left: 2em;
}

button:hover {
    box-shadow: 0 0 90px 5px #fff;
}

.star {
    width: 2px;
    /* Diameter of the circle (2px radius * 2 + 2px for the glow effect) */
    height: 2px;
    /* Diameter of the circle (2px radius * 2 + 2px for the glow effect) */
    border-radius: 50%;
    /* Makes the div a circle */
    background-color: #ffffff;
    /* White color for the circle */
    box-shadow: 0 0 8px 2px #ffffff;
    /* Glow effect (2px blur and 2px spread) */
    visibility: hidden;
}




.falling-star {
    width: 2px;
    /* Diameter of the circle (2px radius * 2 + 2px for the glow effect) */
    height: 2px;
    /* Diameter of the circle (2px radius * 2 + 2px for the glow effect) */
    border-radius: 50%;
    /* Makes the div a circle */
    background-color: #ffffff;
    /* White color for the circle */
    box-shadow: 0 0 8px 2px #ffffff;
    /* Glow effect (2px blur and 2px spread) */
}

@keyframes fall {
    0% {
        transform: translateY(-100vh) translateX(0);
    }

    100% {
        transform: translateY(calc(30vh + 100px)) translateX(calc(100vh * 1.5));

    }

}

/* @keyframes scale-up {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(5);
    }
} */

@media (max-width: 650px) {
    body {
        height: 95vh;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 75vh;
        /* Adjust the margin-top value as needed */
        max-height: 75vh;
        /* Set a maximum height for the form container */
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        gap: 3px;
    }

    #wish-label {
        max-height: 50px;
    }

    button {
        width: 50px;
        margin-top: 10px;
        /* Adjust the margin-top value for the button */
    }

    input {
        height: 50px;
        margin-top: 10px;
        border: 2px solid rgb(166, 191, 194, 0.2);
        /* Adjust the margin-top value for the input field */
    }
}