body {
    background-image: url('images/StaryNight3.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(190, 239, 239);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button>img {
    height: 35px;
    transition: 1s ease-in-out;
}

button>img:hover {
    background-color: transparent;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 88vh;
    margin-right: 12vw;
    /* Adjust the margin-top as needed */
}

form {
    display: flex;
    border-radius: 10px;
    gap: 5px;
}

#wish-label {
    color: #a6bfc2;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    width: 200px;
    /* Set a fixed width for the label */
    text-align: center;
    /* Center the text inside the label */
    display: inline-block;
    /* Allow the label to have a specific width while staying inline */
}

input {
    background-color: transparent;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(166, 191, 194, 0.2);
    flex: 1;
    padding-left: 10px;
    color: #a6bfc2;
    transition: 2s ease-in-out;
    font-size: large;
}

input:hover {
    box-shadow: 0 0 90px 5px #fff;
}

input::placeholder {
    color: #a6bfc2;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

button {
    border-radius: 10px;
    background-color: transparent;
    color: rgb(190, 239, 239);
    border: none;
    transition: 2s ease-in-out;
    margin-left: 3em;
}

button:hover {
    box-shadow: 0 0 90px 5px #fff;
}

.star {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 8px 2px #ffffff;
    visibility: hidden;
}

.falling-star {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 8px 2px #ffffff;
    animation: fall 3s linear;
    visibility: hidden;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh) translateX(0);
    }

    100% {
        transform: translateY(calc(30vh + 100px)) translateX(calc(100vh * 1.5));
    }
}

@media (max-width: 650px) {
    .form-container {
        margin-top: 70vh;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    #wish-label {
        height: 40px;
    }

    button {
        /* width: 40px; */
        margin-top: 10px;
        margin-left: none;
        margin-right: 12vw;
    }

    input {
        height: 50px;
        margin-top: 10px;
        border: 2px solid rgba(166, 191, 194, 0.2);
    }
}